In [1]:
'''Дан файл HR.csv с данными по опросу уровня удовлетворенности сотрудниками работой.
Признаки:
    1.satisfaction_level  - Уровень удовлетворенности работой
    2.Last_evaluation  - Время с момента последней оценки в годах
    3.number_projects  - Количество проектов, выполненных за время работы
    4.average_monthly_hours  - Среднее количество часов на рабочем месте в месяц
    5.time_spend_company  - Стаж работы в компании в годах
    6.work_accident  - Происходили ли несчастные случаи на рабочем месте с сотрудником
    7.left  - уволился ли сотрудник
    8.promotion_last_5years  - повышался ли сотрудник за последние пять лет
    9.department  - отдел в котором работает сотрудник
    10.salary  - относительный уровень зарплаты'''

In [4]:
import numpy as np
np.set_printoptions(precision=4)
import pandas as pd
from pandas import ExcelWriter

data_HR = pd.read_csv('HR.csv',#загружаем данные из файла
                       sep=',', encoding='utf-8'
                       )
type(data_HR)#подтвержаем, что это DataFrame

pandas.core.frame.DataFrame

In [3]:
data_HR.head()#выводим несколько строчек данных

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low