## Домашнее задание «Функции и работа с данными»

### Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [2]:
rait = pd.read_csv('ratings.csv')
rait.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [6]:
def class_m(row):
    if row['rating'] <= 2.0:
        return 'низкий рейтинг'
    elif 2.0 < row['rating'] <= 4.0:
        return 'средний рейтинг'
    else:
        return 'высокий рейтинг'
    
rait['class'] = rait.apply(class_m, axis=1)
rait.head()

   userId  movieId  rating  timestamp            class
0       1        1     4.0  964982703  средний рейтинг
1       1        3     4.0  964981247  средний рейтинг
2       1        6     4.0  964982224  средний рейтинг
3       1       47     5.0  964983815  высокий рейтинг
4       1       50     5.0  964982931  высокий рейтинг

### Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

1 'Центр': ['москва', 'тула', 'ярославль'],
2
3 'Северо-Запад': ['петербург', 'псков', 'мурманск'],
4
5 'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] 
}

Результат классификации запишите в отдельный столбец region.

In [7]:
df=pd.read_csv('keywords.csv')
df.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [11]:
geo_data = {

'Центр':['москва', 'тула', 'ярославль'],

'Северо-Запад':['петербург', 'псков', 'мурманск'],

'Дальний Восток':['владивосток', 'сахалин', 'хабаровск'] 
}

towns = []
for values in geo_data.values():
    for name_t in values:
        towns.append(name_t)
towns

['москва',
 'тула',
 'ярославль',
 'петербург',
 'псков',
 'мурманск',
 'владивосток',
 'сахалин',
 'хабаровск']

In [14]:
row = 'вконтакте псков'
region = row.split(' ')
def check(t):
    for name in t:
        if name in towns:
            for items in geo_data.items():
                if name in items[1]:
                    print(items[0])
check(region)

Северо-Запад

In [18]:
def region_in_keyword(row):
    data = row['keyword'].split(' ')
    i=0
    for word in data:
        if word in towns:
            for items in geo_data.items():
                if word in items[1]:
                    i += 1
                    return items[0]
    if i == 0:
        return 'undefined'

df['region'] = df.apply(region_in_keyword, axis=1)
df.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [19]:
df[(df['region']!='undefined')].head()

                       keyword   shows          region
127               авито москва  979292           Центр
370   авито ру санкт петербург  425134    Северо-Запад
849            авито ярославль  209581           Центр
1063       фарпост владивосток  176951  Дальний Восток
1236      банк санкт петербург  174375    Северо-Запад