## Домашнее задание «Библиотека Pandas»

### Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [3]:
ds = pd.read_csv('ratings.csv', 'r', delimiter=',')
ds[ds['rating'] == 5.0]['movieId'].value_counts().head(1)

318    153
Name: movieId, dtype: int64

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [4]:
sum_ = 0
ds = pd.read_csv('power.csv', 'r', delimiter=',')
ds_date = ds[(ds['year'] >= 2005) & (ds['year'] <= 2010) & (ds['quantity'] > 0)]
ds_cat = ds_date[ds_date.category.isin([4,12,21])]
sum_ = ds_cat[ds_cat.country.str.contains('|'.join(['Lat','Lit','Est']))]['quantity'].sum()
print('суммарное потребление: {}'.format(sum_))

суммарное потребление: 240580.0

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [6]:
data = pd.read_html('https://fortrader.org/quotes')[1]
data.head()

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть Brent Курс нефти сегодня,66.91,-2.09,-3.03,NaN
1,Нефть WTI Цены на нефть WTI,63.53,-2.19,-3.33,NaN
2,Природный газ Цена на природный газ,2.97,-0.01,-0.44,NaN
3,Кофе,146.55,-0.35,-0.24,NaN
4,Кукуруза,674.40,-39.80,-5.57,NaN